html {
    -webkit-text-size-adjust: 100%;
}



:root {
    --color: rgb(255, 255, 255);
    --bgcolor: #e0e0e0;
}

body {
    font-family: "aktiv-grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    font-size: 1.8rem;
    line-height: 2rem;
    margin:auto;
    margin-top: 6%;
    opacity: .9;
}
.smaller{
    font-size: 1.2rem;
    line-height: 1rem;
}
#over-color{
    background-color: rgb(129, 129, 129);
    width: 100vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: .7;
    mix-blend-mode: exclusion;
}
a{
    text-decoration: none;
}
.-translate-x-full {
    --tw-translate-x: -100%
}

.-translate-x-full,.transform {
    transform: var(--tw-transform)
}

.mix-blend-multiply {
    mix-blend-mode: multiply;
}

.filter {
    filter: var(--tw-filter)
}

.text-color {
    color: var(--color)
}

.text-bgcolor {
    color: var(--bgcolor)
}

.bg-bgcolor {
    background-color: var(--bgcolor)
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: currentColor;
    cursor: pointer
}

::-webkit-scrollbar-track {
    background-color: transparent
}

.filtered {
    filter: url(#n0)
}

.filtered-1,.filtered-1-safari {
    filter: url(#n1)
}

body#home .filtered-1 {
    filter: url(#n2)
}

body#home .filtered-1-safari {
    filter: url(#n2)
}

body#home.is-safari [data-top-agenda] {
    mix-blend-mode: normal
}
