html {
    -webkit-text-size-adjust: 100%;
}



:root {
    --color: rgb(255, 255, 255);
    --bgcolor: #e0e0e0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.9rem;
    line-height: 1.9rem;
    margin: auto;
    opacity: .8;
    margin-left: .25em;
    margin-right: .25em;
}
.smaller{
    font-size: 1rem;
    line-height: .5rem;
}
.less-opaque{
    opacity: .6;
}

#over-color{
    background-color: rgb(68, 68, 68);
    width: 100vw;
    height: 100vh;
    z-index: 4;
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: .7;
    mix-blend-mode: exclusion;
}
a{
    text-decoration: none;
}
.-translate-x-full {
    --tw-translate-x: -100%
}
.under{
    position: fixed;
}

.-translate-x-full,.transform {
    transform: var(--tw-transform)
}

.mix-blend-multiply {
    mix-blend-mode: multiply;
}

.filter {
    filter: var(--tw-filter)
}

.text-color {
    color: var(--color)
}

.text-bgcolor {
    color: var(--bgcolor)
}

.bg-bgcolor {
    background-color: var(--bgcolor)
}

::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
    width: 8px
}

::-webkit-scrollbar-thumb {
    background-color: currentColor;
    cursor: pointer
}

::-webkit-scrollbar-track {
    background-color: transparent
}

.filtered {
    filter: url(#n0)
}

.filtered-1,.filtered-1-safari {
    filter: url(#n1)
}

body#home .filtered-1 {
    filter: url(#n2)
}

body#home .filtered-1-safari {
    filter: url(#n2)
}

body#home.is-safari [data-top-agenda] {
    mix-blend-mode: normal
}
